body{
  margin: auto;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  /*display: flex;*/
}
html{
  /*image not being opaque!!*/
  background-image: url("https://secure.static.tumblr.com/c9213e31968b0b7d1094e387aaf46c72/2abovtd/kPymrw0jm/tumblr_static_fondale_prezi.jpg");
  /*opacity:.6;*/
}
h1{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}
.button{
  background-color: #e7e7e7;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #4CAF50;
}


#container{
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  background-color: #F5EBBF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: .8;
  /*overflow: hidden;*/

}
#letters{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#letters ul{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#letters li{
  list-style-type: none;
  justify-content: center;
  align-content: flex-start;
  margin: 0 10px 10px 0;
  width:35px;
  height:30px;
  padding-top: 5px;
  background:#fff;
  cursor:pointer;
  border-radius: 5px;
  border: solid 1px $white;
}
#letters li:hover{
  color: #fff;
  background-color: #CFCFCF;
  border: solid 1px #fff;
}
#letters .active {
  color: #fff;
  background-color: #CFCFCF;
  border: solid 1px #fff;
}

#word{
  display: flex;
  justify-content: center;
  margin:auto;
}

#word ul{
  display:flex;
  flex-direction: row;
  font-size: 150%;
}
#word li{
  padding: 4px;
  list-style-type: none;
  justify-content: center;
}

#myword{
  display:flex;
  justify-content: center;
  padding: none;
}

#container img{
  height: 150px;
  width: 150px;
}
